body {
	background: #1690A7;
	display: flex;
	justify-content: top;
	align-items: center;
	height: 90vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}


form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}


input {
	border: 2px solid #ccc;
	width: 80%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}


.myDiv {  
    width: 20%;
    text-align: center;
  }
  